@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Ubuntu;
	}

	body {
		background: #1b1c1e;
	}
}

@layer components {
	.layout-container {
		@apply w-11/12 mx-auto;
	}

	.section-heading {
		@apply text-white font-bold text-lg md:text-2xl lg:text-[32px] lg:leading-[37px];
	}

	.label {
		@apply block mb-2 font-medium text-base leading-[18px] capitalize text-[#F5F5F5];																																																															
	}

	.error {
		@apply border border-red-500;
	}
}

.content {
	flex: 1 0 auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
	-webkit-text-fill-color: #62646C !important;
}